blueprint.json
{
    "name": "Get arixv ai agent paper",
    "flow": [
        {
            "id": 1,
            "module": "rss:TriggerNewArticle",
            "version": 4,
            "parameters": {
                "url": "https://rsshub.app/arxiv/search_query=abs:ai+agent&start=0&max_results=10&sortBy=lastUpdatedDate",
                "gzip": true,
                "include": [],
                "password": "",
                "username": "",
                "maxResults": 10
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 32,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "filter": {
                        "name": "Catch DataError",
                        "conditions": [
                            [
                                {
                                    "a": "{{1.error.type}}",
                                    "b": "DataError",
                                    "o": "text:equal"
                                }
                            ]
                        ]
                    },
                    "metadata": {
                        "designer": {
                            "x": 203,
                            "y": 164
                        }
                    }
                }
            ]
        },
        {
            "id": 17,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2440488
            },
            "mapper": {
                "model": "gpt-3.5-turbo-16k",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "you are a helpful information summary AI assistant, you can find out the key points from the science paper abstract. you should answer me in Chinese"
                    },
                    {
                        "role": "user",
                        "content": "{{1.summary}} summary into short paragraph within 100 words"
                    }
                ],
                "max_tokens": "300",
                "temperature": "0",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": -150
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo-16k"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 34,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": -150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "notion:createAPage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1629396
                            },
                            "mapper": {
                                "fields": {
                                    "XpIi": "{{1.description}}",
                                    "daGM": [
                                        "paper"
                                    ],
                                    "title": "{{1.title}}",
                                    "%5DdGL": "{{17.choices[].message.content}}",
                                    "YUU%7C": "{{1.url}}",
                                    "pCZ%3F": [
                                        "make"
                                    ]
                                },
                                "select": "list",
                                "database": "220056fdc4fa44bfb95d1b535ba3707d"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "fields": {
                                            "nested": {
                                                "daGM": {
                                                    "mode": "chose"
                                                },
                                                "pCZ%3F": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "database": {
                                            "nested": [
                                                {
                                                    "name": "fields",
                                                    "spec": [
                                                        {
                                                            "name": "title",
                                                            "type": "text",
                                                            "label": "Title",
                                                            "metadata": {
                                                                "type": "title"
                                                            },
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "XpIi",
                                                            "type": "text",
                                                            "label": "description",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "YUU%7C",
                                                            "type": "url",
                                                            "label": "URL",
                                                            "metadata": {
                                                                "type": "url"
                                                            }
                                                        },
                                                        {
                                                            "name": "%5DdGL",
                                                            "type": "text",
                                                            "label": "summary",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "daGM",
                                                            "type": "select",
                                                            "label": "tag",
                                                            "options": [
                                                                {
                                                                    "label": "paper",
                                                                    "value": "paper"
                                                                },
                                                                {
                                                                    "label": "weibo",
                                                                    "value": "weibo"
                                                                }
                                                            ],
                                                            "metadata": {
                                                                "type": "multi_select"
                                                            },
                                                            "multiple": true,
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "pCZ%3F",
                                                            "type": "select",
                                                            "label": "comes from",
                                                            "options": [
                                                                {
                                                                    "label": "zapier",
                                                                    "value": "zapier"
                                                                },
                                                                {
                                                                    "label": "make",
                                                                    "value": "make"
                                                                }
                                                            ],
                                                            "metadata": {
                                                                "type": "multi_select"
                                                            },
                                                            "multiple": true,
                                                            "validate": false
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Fields"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "notion3"
                                            },
                                            "label": "My Notion Internal connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:notion2,notion3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Database ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "database",
                                        "type": "text",
                                        "label": "Database ID",
                                        "required": true
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title",
                                                "metadata": {
                                                    "type": "title"
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "XpIi",
                                                "type": "text",
                                                "label": "description",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "YUU%7C",
                                                "type": "url",
                                                "label": "URL",
                                                "metadata": {
                                                    "type": "url"
                                                }
                                            },
                                            {
                                                "name": "%5DdGL",
                                                "type": "text",
                                                "label": "summary",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "daGM",
                                                "type": "select",
                                                "label": "tag",
                                                "metadata": {
                                                    "type": "multi_select"
                                                },
                                                "multiple": true
                                            },
                                            {
                                                "name": "pCZ%3F",
                                                "type": "select",
                                                "label": "comes from",
                                                "metadata": {
                                                    "type": "multi_select"
                                                },
                                                "multiple": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Fields"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Database Item ID"
                                    },
                                    {
                                        "name": "created_time",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "last_edited_time",
                                        "type": "date",
                                        "label": "Last Edited Time"
                                    },
                                    {
                                        "name": "created_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Created by"
                                    },
                                    {
                                        "name": "last_edited_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Last Edited by"
                                    },
                                    {
                                        "name": "icon",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "emoji",
                                                "type": "text",
                                                "label": "Emoji"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Icon"
                                    },
                                    {
                                        "name": "cover",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "external",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "External"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Cover"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "parent",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "workspace",
                                                "type": "boolean",
                                                "label": "Workspace"
                                            },
                                            {
                                                "name": "page_id",
                                                "type": "text",
                                                "label": "Page ID"
                                            },
                                            {
                                                "name": "database_id",
                                                "type": "text",
                                                "label": "Database ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "properties",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "people",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "object",
                                                                "type": "text",
                                                                "label": "Object"
                                                            },
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "avatar_url",
                                                                "type": "text",
                                                                "label": "Avatar Url"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "person",
                                                                "spec": [
                                                                    {
                                                                        "name": "email",
                                                                        "type": "text",
                                                                        "label": "Email"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Person"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "People"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "URL"
                                                },
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "select",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "text",
                                                            "label": "Color"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Select"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                },
                                                {
                                                    "name": "phone_number",
                                                    "type": "text",
                                                    "label": "Phone Number"
                                                },
                                                {
                                                    "name": "multi_select",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Multi Select"
                                                },
                                                {
                                                    "name": "date",
                                                    "spec": [
                                                        {
                                                            "name": "start",
                                                            "type": "text",
                                                            "label": "Start"
                                                        },
                                                        {
                                                            "name": "end",
                                                            "type": "text",
                                                            "label": "End"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Date"
                                                },
                                                {
                                                    "name": "checkbox",
                                                    "type": "boolean",
                                                    "label": "Checkbox"
                                                },
                                                {
                                                    "name": "number",
                                                    "type": "number",
                                                    "label": "Number"
                                                },
                                                {
                                                    "name": "files",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Files"
                                                },
                                                {
                                                    "name": "title",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "last_edited_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Last Edited Time"
                                                },
                                                {
                                                    "name": "created_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Created Time"
                                                },
                                                {
                                                    "name": "last_edited_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Last Edited By"
                                                },
                                                {
                                                    "name": "created_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Created By"
                                                },
                                                {
                                                    "name": "formula",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "string",
                                                            "type": "text",
                                                            "label": "String"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Formula"
                                                },
                                                {
                                                    "name": "relation",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Relation"
                                                },
                                                {
                                                    "name": "label",
                                                    "type": "text",
                                                    "label": "Label"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "properties_value",
                                        "spec": [
                                            {
                                                "name": "description",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "description"
                                            },
                                            {
                                                "name": "URL",
                                                "type": "text",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "summary",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "summary"
                                            },
                                            {
                                                "name": "tag",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "tag"
                                            },
                                            {
                                                "name": "Created time",
                                                "type": "date",
                                                "label": "Created time"
                                            },
                                            {
                                                "name": "comes from",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "comes from"
                                            },
                                            {
                                                "name": "Title",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Title"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties Value"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "notion:appendAPageContent",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1629396
                            },
                            "mapper": {
                                "page": "{{2.id}}",
                                "objects": [
                                    {
                                        "type": "heading_1",
                                        "heading_1": {
                                            "text": [
                                                {
                                                    "text": {
                                                        "content": "{{1.title}}"
                                                    },
                                                    "type": "text",
                                                    "annotations": {
                                                        "color": "default"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "type": "paragraph",
                                        "paragraph": {
                                            "text": [
                                                {
                                                    "text": {
                                                        "content": "{{17.choices[].message.content}}"
                                                    },
                                                    "type": "text",
                                                    "annotations": {
                                                        "color": "default"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "page": {
                                            "mode": "edit"
                                        },
                                        "objects": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "Heading 1"
                                                    },
                                                    "heading_1": {
                                                        "nested": {
                                                            "text": {
                                                                "mode": "chose",
                                                                "items": [
                                                                    {
                                                                        "type": {
                                                                            "mode": "chose",
                                                                            "label": "Text"
                                                                        },
                                                                        "annotations": {
                                                                            "nested": {
                                                                                "bold": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "code": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "color": {
                                                                                    "mode": "chose",
                                                                                    "label": "default"
                                                                                },
                                                                                "italic": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "underline": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "strikethrough": {
                                                                                    "mode": "chose"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "Paragraph"
                                                    },
                                                    "paragraph": {
                                                        "nested": {
                                                            "text": {
                                                                "mode": "chose",
                                                                "items": [
                                                                    {
                                                                        "type": {
                                                                            "mode": "chose",
                                                                            "label": "Text"
                                                                        },
                                                                        "annotations": {
                                                                            "nested": {
                                                                                "bold": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "code": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "color": {
                                                                                    "mode": "chose",
                                                                                    "label": "default"
                                                                                },
                                                                                "italic": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "underline": {
                                                                                    "mode": "chose"
                                                                                },
                                                                                "strikethrough": {
                                                                                    "mode": "chose"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "notion3"
                                            },
                                            "label": "My Notion Internal connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:notion2,notion3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "page",
                                        "type": "select",
                                        "label": "Page ID",
                                        "required": true
                                    },
                                    {
                                        "name": "objects",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "Paragraph",
                                                            "value": "paragraph"
                                                        },
                                                        {
                                                            "label": "Heading 1",
                                                            "value": "heading_1"
                                                        },
                                                        {
                                                            "label": "Heading 2",
                                                            "value": "heading_2"
                                                        },
                                                        {
                                                            "label": "Heading 3",
                                                            "value": "heading_3"
                                                        },
                                                        {
                                                            "label": "Bulleted list item",
                                                            "value": "bulleted_list_item"
                                                        },
                                                        {
                                                            "label": "Numbered list item",
                                                            "value": "numbered_list_item"
                                                        },
                                                        {
                                                            "label": "Toggle",
                                                            "value": "toggle"
                                                        },
                                                        {
                                                            "label": "To do",
                                                            "value": "to_do"
                                                        },
                                                        {
                                                            "label": "Image",
                                                            "value": "image"
                                                        },
                                                        {
                                                            "label": "Embed",
                                                            "value": "embed"
                                                        },
                                                        {
                                                            "label": "File",
                                                            "value": "file"
                                                        },
                                                        {
                                                            "label": "PDF",
                                                            "value": "pdf"
                                                        },
                                                        {
                                                            "label": "Video",
                                                            "value": "video"
                                                        },
                                                        {
                                                            "label": "Breadcrumb",
                                                            "value": "breadcrumb"
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Content Objects",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 24,
                    "text": "",
                    "filter": true
                },
                {
                    "id": 17,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "us1.make.com",
        "notes": []
    }
}